{% comment %} {% include 'partials/_messages.html' %} {% endcomment %}
{% comment %} {% include 'partials/_change_password_form_errors.html' %} {% endcomment %}
{% comment %} {% include 'partials/_form_errors.html' %} {% endcomment %}
{% include 'partials/_change_password_form_errors.html' %}

<form method="POST" action="{% url 'home:password-change-view' %}" class="password_change row g-3">
  {% comment %} {{password_change_form}} {% endcomment %}
  {% csrf_token %}
<!-- Current password -->
<div class="col-12">
  <label class="form-label" for="id_old_password">Old Password</label>
  <!-- Input group -->
  <div class="input-group">
    <input class="form-control" name="old_password" type="password" required id="id_old_password" placeholder="Enter new password">

  </div>
</div>
<!-- New password -->
<div class="col-12">
  <label class="form-label" for="id_new_password1">New Password</label>
  <!-- Input group -->
  <div class="input-group">
    <input class="form-control" name="new_password1" type="password" required id="id_new_password1" placeholder="Enter new password">
   
  </div>
</div>

<div class="col-12">
  <label class="form-label" for="id_new_password2">New Password Confirmation</label>
  <!-- Input group -->
  <div class="input-group">
    <input class="form-control" name="new_password2" type="password" required id="id_new_password2" placeholder="Enter new password">
   
  </div>
</div>
            <!-- Button  -->
            <div class="col-12 text-end">
              <button type="submit" class="btn btn-primary mb-0">Update password</button>
            </div>
  </form>