{% extends "partials/_auth_Layout.html" %}

{% load account i18n %}


{% block title %}{% trans "Confirm E-mail Address" %}{% endblock title %}

{% block body %}
<main>
  
  <!-- Container START -->
  <div class="container">
    <div class="row justify-content-center align-items-center vh-100 py-5">
      <!-- Main content START -->
      <div class="col-sm-12 col-md-10 col-lg-9 col-xl-7 col-xxl-6">
        <!-- Reset password START -->
        <div class="card card-body rounded-3 text-center p-4 p-sm-5">
          <!-- Title -->
          <h1>{% trans "Confirm E-mail Address" %}</h1>
          {% comment %} <p>{% trans 'Are you sure you want to sign out?' %}</p> {% endcomment %}
          <div class="mb-3">
            {% if confirmation %}

            {% user_display confirmation.email_address.user as user_display %}
            
            <p class="lead">{% blocktrans with confirmation.email_address.email as email %}Please confirm that <a href="mailto:{{ email }}">{{ email }}</a> is an e-mail address for user <strong>{{ user_display }}</strong>.{% endblocktrans %}</p>
            
            <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
            {% csrf_token %}
                <button type="submit" class="btn btn-success-soft">{% trans 'Confirm' %}</button>
            </form>
            
            {% else %}
            
            {% url 'account_email' as email_url %}
            
            <p>{% blocktrans %}This e-mail confirmation link expired or is invalid. Please <a href="{{ email_url }}">issue a new e-mail confirmation request</a>.{% endblocktrans %}</p>
            
            {% endif %}
          </div>

        </div>
        <!-- Reset password END -->
      </div>
    </div> <!-- Row END -->
  </div>
  <!-- Container END -->

</main>



{% endblock body %}
