<div class="col-md-2 col-lg-3 col-xxl-4 mt-n4">
    <div class="nav-sidenav p-4 bg-mode h-100 custom-scrollbar">
      <!-- Card START -->
        <!-- Side Nav START -->
          <ul class="nav nav-link-secondary flex-column fw-bold gap-2">
            <li class="nav-item">
              <a class="nav-link" href="my-profile.html"> <i class="bi bi-card-checklist nav-icon"></i> <span class="nav-text">Feed </span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="my-profile-connections.html"> <i class="bi bi-people nav-icon"></i> <span class="nav-text">Connections </span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="blog.html"> <i class="bi bi-newspaper nav-icon"></i> <span class="nav-text">Latest News </span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="events.html"> <i class="bi bi-calendar-event-fill nav-icon"></i> <span class="nav-text">Events </span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="groups.html"> <i class="bi bi-collection-fill nav-icon"></i> <span class="nav-text">Groups </span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="notifications.html"> <i class="bi bi-bell-fill nav-icon"></i> <span class="nav-text">Notifications </span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="settings.html"> <i class="bi bi-gear-wide-connected nav-icon"></i> <span class="nav-text">Settings </span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="albums.html"> <i class="bi bi-images nav-icon"></i> <span class="nav-text">Photos </span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="celebration.html"> <i class="bi bi-bookmark-heart-fill nav-icon"></i> <span class="nav-text">Celebration </span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="post-videos.html"> <i class="bi bi-camera-reels nav-icon"></i> <span class="nav-text">Video </span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="messaging.html"> <i class="bi bi-chat-left-text nav-icon"></i> <span class="nav-text">Messaging </span></a>
            </li>
          </ul>
          <!-- Side Nav END -->
      <!-- Card body END -->
    </div>
  </div>