{% load static %}
<!-- =======================JS libraries, plugins and custom scripts -->

<!-- Bootstrap JS -->
<script src="{% static 'vendor/htmx/htmx.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'vendor/cropper/cropper.min.js' %}"></script>

<!-- Vendors -->
<script src="{% static 'vendor/tiny-slider/dist/tiny-slider.js' %}"></script>
<script src="{% static 'vendor/OverlayScrollbars-master/js/OverlayScrollbars.min.js' %}"></script>
<script src="{% static 'vendor/choices.js/public/assets/scripts/choices.min.js' %}"></script>
<script src="{% static 'vendor/glightbox-master/dist/js/glightbox.min.js' %}"></script>
<script src="{% static 'vendor/plyr/plyr.js' %}"></script>
<script src="{% static 'vendor/dropzone/dist/min/dropzone.min.js' %}"></script>
<script src="{% static 'vendor/pswmeter/pswmeter.min.js' %}"></script>



<!-- Template Functions -->
<script src="{% static 'js/functions.js' %}"></script>

<script src="{% static 'vendor/jquery/dist/jquery.min.js' %}"></script>
<script>
    $(document).ready(function(){
        let url = $("a.nav-link[href='{{request.path}}']");
        $(url).addClass("active");
      
        $("select").addClass("form-select");
      
      $(".alert").delay(10000).slideUp(200, function () {
          $(this).alert('close');
        });
      
        $("label").addClass("form-label");
      
        $('[data-toggle="popover"]').popover();
      })
</script>